.jobs {
    width: 500px;
    min-width: 500px;
    /* min-width: 500px;
    max-width: 500px;    */
}

.row {
    padding-top: 100px;
}

.magnifiedJobCol {
    max-width: 700px;
    min-width: 400px;
    margin: 30px auto;
}