.jobStyle {
    padding: 10%;
    display: inline-block;
    width: 500px;
    color: black;
    /* background-color: aqua; */
}

.applyBtn {
    display: inline-block;
}
.btnDiv {
    display: inline-block;
    padding: 30px 50px;
    
}

.container {
   
    padding: 0% 20%;
}

.btnStyle {
    
}